<div class="p-grid">
  <div class="p-col">1</div>
  <div class="p-col">2</div>
  <div class="p-col">3</div>
</div>

<div class="p-grid">
  <div class="p-col-2" id="sidegutter" >
    <div id="sidenav">
      <p-menu [model]="items"></p-menu>
    </div>
  </div>

  <div class="p-col-10">
    <router-outlet></router-outlet>
  </div>

</div>
<!-- <p-tabMenu [model]="items" > -->
  <!-- <ng-template pTemplate="item"   let-item let-i="index">
    {{item.label}}
</ng-template> -->
<!-- </p-tabMenu> -->
