<div class="p-grid">
  <div class="p-col">1</div>
  <div class="p-col">2</div>
  <div class="p-col">3</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="securityObject.isAuthenticated" routerLink="tour">Tours</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="securityObject.isAuthenticated && securityObject.canAccessOrders" routerLink="order">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" *ngIf="securityObject.isAuthenticated && securityObject.canAccessMenuItems" routerLink="menu-items">MenuItems-Disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="securityObject.isAuthenticated && securityObject.canAccessPaymentDetails" routerLink="pay-details">PaymentDetails</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" (onclick)="logout()" *ngIf="securityObject.isAuthenticated"><span class="glyphicon glyphicon-user"></span> Logout {{securityObject.userName}}</a></li>
      <li><a routerLink="login" *ngIf="!securityObject.isAuthenticated"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


<div class="p-grid">
  <div class="p-col-2 p-nogutter" id="sidegutter" >
    <div id="sidenav">
      <p-menu [model]="items"></p-menu>
    </div>
  </div>

  <div class="p-col-10">
    <router-outlet></router-outlet>
  </div>

</div>
<!-- <p-tabMenu [model]="items" > -->
  <!-- <ng-template pTemplate="item"   let-item let-i="index">
    {{item.label}}
</ng-template> -->
<!-- </p-tabMenu> -->
