<p-panel header="Orders">
    <div>
        <button pButton type="button" (click)="addOrderNavigate()"  label="Add Order" icon="pi pi-plus"  badge="8"></button>
    </div>
    <p-table [value]="orders">
        <ng-template pTemplate="header">
            <tr>
                <th>Customer Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Employee Name</th>
             
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td><a [routerLink]="['/order',order.orderId]">{{order.customerName}}</a></td>
                <td>{{order.description}}</td>
                <td>{{order.createdOn|date:'short'}}</td>
                <td>{{order.employee.employeeName}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>