<p-panel header="Add-Shows">
    <form novalidate (ngSubmit)="addShows()" [formGroup]="showCollectionForm">
        <fieldset>
            
           
        
            <div formArrayName="shows" *ngFor="let show of this.showCollectionForm.get('shows')['controls']; let i = index;">
                <!-- single show -->
                <app-show-single [showIndex]="i" [show]="show" (removeShowClicked)="removeShow($event)">
                </app-show-single>
            </div>

            <div>
                <button pButton (click)="addShow()" label="Add Show" icon="pi pi-plus"  badge="8"></button>
            </div>
            <div class="form-group p-grid">
                <div class="p-col-12 p-md-4 p-md-offset-2">
                    <span>
                        <button pButton type="submit" label="Save" icon="pi pi-plus"  badge="8"></button>
                    </span>
                    <span>
                        <button pButton (click)="goBack()" label="Back" icon="pi pi-minus"  badge="8"></button>
                    </span>
                </div>
                
            </div>
            
        </fieldset>
    </form>

</p-panel>

