<div [formGroup]="item">
   
    <div class="p-field p-grid">
      <label class=" p-col-12 p-md-2" [attr.for]="'nameId'+itemIndex">Name</label>
        <input class=" p-col-12 p-md-6" [attr.id]="'nameId'+itemIndex" 
          type="text" formControlName="itemName" pInputText/>
    </div>
    <div class="p-field p-grid">
        <label class=" p-col-12 p-md-2" [attr.for]="'ingredientsId'+itemIndex">Ingredients</label>
        <p-multiSelect class=" p-col-12 p-md-6" [options]="ingredientOptions" [(ngModel)]="ingredients"
         [attr.id]="'ingredientsId'+itemIndex" formControlName="ingredients" ></p-multiSelect>
      </div>
  

    <div class="p-field p-grid">
      <label class="p-col-12 p-md-2" [attr.for]="'descriptionId'+itemIndex">Description</label>
        <input class=" p-col-12 p-md-6" [attr.id]="'descriptionId'+itemIndex" 
          type="text" formControlName="description" pInputText />
    </div>
    <div class="p-field p-grid">
      <label class="p-col-12 p-md-2" [attr.for]="'priceId'+itemIndex">Price</label>
        <input class=" p-col-12 p-md-6" [attr.id]="'priceId'+itemIndex" 
          type="number" formControlName="price" pInputText/>
    </div>
    <div class="p-field p-grid" *ngIf="isAdmin==true">
        <label class="p-col-12 p-md-2" [attr.for]="'estimatedCostId'+itemIndex">Estimated Cost</label>
          <input class=" p-col-12 p-md-6" [attr.id]="'estimatedCostId'+itemIndex" 
            type="number" formControlName="estimatedCost" pInputText/>
      </div>
  
    <!-- remove show button -->
  
    <div class="p-grid">
        <div class="p-col-12 p-md-4 p-offset-4">
            <button pButton class="p-button-danger" (click)="removeItemClicked.emit(itemIndex)" label="Remove item" icon="pi pi-minus"></button>
        </div>
    </div>
  
  
  </div>