<p-panel header="Tours">
    <p-table [value]="tours">
        <ng-template pTemplate="header">
            <tr>
                <th>Band</th>
                <th>Title</th>
                <th>Starts On</th>
                <th>Ends On</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tour>
            <tr>
                <td>{{tour.band.name}}</td>
                <td>{{tour.title}}</td>
                <td>{{tour.startDate}}</td>
                <td>{{tour.endDate}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
