<p-panel header="Add-Tours">
    <form novalidate (ngSubmit)="addTour()" [formGroup]="tourForm">
        <fieldset>
            <!-- <div class="form-group">
                <label class="col-md-2 control-label" for="bandId">Band</label>
                <div class="col-md-8">
                    <select class="form-control" formControlName="band" id="bandId">
                        <option *ngFor="let band of bands" [ngValue]="band.bandId">
                            {{band.name}}
                        </option>
                    </select>
                </div>
            </div> -->
            <div class="p-field p-grid" >
                <label class="p-field p-col-12 p-md-2" for="bandId">Band</label>
                <p-dropdown class="p-field p-col-12 p-md-10" [options]="this.bandOptions" formControlName="band"
                    id="bandId"></p-dropdown>
            </div>
            <div class="p-field p-grid" *ngIf="isAdmin">
                <label class="p-field p-col-12 p-md-2" for="managerId">Manager</label>
                <p-dropdown class="p-field p-col-12 p-md-10" [options]="this.managerOptions" formControlName="manager"
                    id="managerId"></p-dropdown>
            </div>
            <div class="p-field p-grid">
                <label class="p-field p-col-12 p-md-2" for="titleId">Title</label>
                <input class="p-field p-col-12 p-md-10" id="titleId" type="text" placeholder="Title" formControlName="title" pInputText>
            </div>
            <div class="p-field p-grid">
                <label class="p-field p-col-12 p-md-2" for="descriptionId">Description</label>
                <textarea formControlName="description" class="p-field p-col-12 p-md-10" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
            </div>
            <div class="p-field p-grid">
                <label class="p-field p-col-12 p-md-2" for="startDateId">Starts On</label>
                <p-calendar class="p-field p-col-12 p-md-10" formControlName="startDate"></p-calendar>
            </div>
            <div class="p-field p-grid">
                <label class="p-field p-col-12 p-md-2" for="endDateId">Ends On</label>
                <p-calendar class="p-field p-col-12 p-md-10" formControlName="endDate"></p-calendar>
            </div>
            <div class="p-grid" style="margin-top:10px;">
                <h2>Shows</h2>
            </div>

            <div formArrayName="shows" *ngFor="let show of this.tourForm.get('shows')['controls']; let i = index;">
                <!-- single show -->
                <app-show-single [showIndex]="i" [show]="show" (removeShowClicked)="removeShow($event)">
                </app-show-single>
            </div>

            <div>
                <button pButton (click)="addShow()" label="Add Show" icon="pi pi-plus"  badge="8"></button>
            </div>
            <div>
                <button pButton type="submit" label="Save" icon="pi pi-plus"  badge="8"></button>
            </div>
            
            <!-- 
            
            <div class="p-field p-col-12 p-md-6">
                <label for="titleId">Starts On</label>
                <input id="startDateId" type="date" placeholder="Starts on" formControlName="startDate" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label for="titleId">Ends On</label>
                <input id="endDateId" type="date" placeholder="Ends on" formControlName="endDate" pInputText>
            </div>  -->
        </fieldset>
    </form>

</p-panel>